# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [61]:
def lesser_of_two_evens(a,b):
    if a%2 == b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [62]:
# Check
lesser_of_two_evens(2,4)

2

In [63]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [64]:
def animal_crackers(text):
    str_list = text.upper().split()
    return str_list[0][0] == str_list[1][0]

In [65]:
# Check
animal_crackers('Levelheaded Llama')

True

In [66]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [19]:
def makes_twenty(n1,n2):
    return n1 + n2 == 20 or n1 == 20 or n2 == 20

In [15]:
# Check
makes_twenty(20,10)

True

In [20]:
# Check
makes_twenty(12,8)

True

In [17]:
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [67]:
def old_macdonald(name):
    return name[:3].capitalize() + name[3:].capitalize()

In [68]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [42]:
def master_yoda(text):
    return " ".join(text.split()[::-1])

In [43]:
# Check
master_yoda('I am home')

'home am I'

In [44]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [48]:
def almost_there(n):
    return (n >= 90 and n <= 110) or (n >= 190 and n <= 210)

In [69]:
def almost_there2(n):
    return (abs(100 - n) <= 10) or (abs(200 - n) <= 10)

In [70]:
# Check
almost_there2(104)

True

In [71]:
# Check
almost_there2(150)

False

In [72]:
# Check
almost_there2(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [79]:
def has_33(nums):
    return sum([(nums[i] == nums[i+1] == 3) for i in range(len(nums)-1)]) > 0

In [80]:
# Check
has_33([1, 3, 3])

True

In [81]:
# Check
has_33([1, 3, 1, 3])

False

In [82]:
# Check
has_33([3, 1, 3])

False

In [83]:
has_33([3, 1, 1])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [94]:
def paper_doll(text):
    return ''.join([c+c+c for c in text])

In [95]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [96]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [88]:
def blackjack(a,b,c):
    l = [a,b,c]
    if 11 in l:
        s = sum(l) - 10
    else:
        s = sum(l)
    if s <= 21:
        return s
    else:
        return "BUST"

In [89]:
# Check
blackjack(5,6,7)

18

In [90]:
# Check
blackjack(9,9,9)

'BUST'

In [91]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [96]:
def summer_69(arr):
    my_sum = 0
    i = 0
    while i < len(arr):
        if arr[i] == 6:
            while arr[i] != 9:
                i += 1
            i += 1
        else:
            my_sum += arr[i]
            i += 1
    return my_sum

In [97]:
# Check
summer_69([1, 3, 5])

9

In [98]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [99]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [5]:
summer_69([6,3,54,6,9])

0

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [100]:
def spy_game(nums):
    n = len(nums)
    i = 0
    found = False
    print('Starting')
    while i < n:
        print(i)
        if nums[i] == 0:
            print("Found first 0")
            i += 1
            while i < n:
                if nums[i] == 0:
                    print("Found second 0")
                    i += 1
                    while i < n:
                        if nums[i] == 7:
                            print("Found 7")
                            found = True
                        i += 1
                i += 1
        i += 1
    return found

In [101]:
# Check
spy_game([1,2,4,0,0,7,5])

Starting
0
1
2
3
Found first 0
Found second 0
Found 7

True

In [102]:
# Check
spy_game([1,0,2,4,0,5,7])

Starting
0
1
Found first 0
Found second 0
Found 7

True

In [103]:
# Check
spy_game([1,7,2,0,4,5,0])

Starting
0
1
2
3
Found first 0
Found second 0

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [44]:
import math

def is_prime2(num):
    '''
    Better method of checking for primes. 
    '''
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

def count_primes(num):
    primes_no = 0
    for i in range(2,num+1):
        if is_prime2(i):
            primes_no = primes_no + 1
    return primes_no

In [45]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [57]:
def print_big(letter):
    bin_letters = {'A' : [4 ,10,31,17,17], 
                   'B' : [15,17,15,17,15], 
                   'C' : [14,17,1 ,17,14], 
                   'D' : [15,17,17,17,15], 
                   'E' : [31,1 ,31,1 ,31]}
    for i in range(5):
        bin_line = bin_letters[letter.upper()][i]
        print_line = ''
        for j in list(range(5))[::-1]:
            if bin_line - 2**j >= 0:
                print_line = print_line + '*'
                bin_line = bin_line - 2**j
            else:
                print_line = print_line + ' '
        print(print_line[::-1])

In [60]:
print_big('E')

*****
*
*****
*
*****

## Great Job!